{
    "semi": false,
    "singleQuote": false,
    "trailingComma": "none",
    "bracketSpacing": false,
    "tabWidth": 4,
    "bracketSameLine": false,
    "singleAttributePerLine": false,
    "printWidth": 80
}
